numpy<2
opencv-python-headless==4.10.0.84

# Explicitly prevent GUI OpenCV from installing on Linux (Streamlit Cloud)
opencv-python==4.10.0.84; platform_system=="Windows"

streamlit
yt-dlp
ultralytics==8.3.237
torch==2.9.1
torchvision==0.24.1
shapely>=2.0.0,<3
